<body>
    <div class="page-wrap">
        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="<%= root_path %>" class="active"><i class="fas fa-home"></i></a></li>
                <li><a href="/gallery"><i class="far fa-image"></i></a></li>
                <li><a href="<%= new_user_session_path %>"><i class="fas fa-sign-in-alt"></i></a></li>
                <br />
                <li><a href="/profile"><i class="fas fa-user"></i></a></li>
                <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
        <!-- Main -->
        <section id="main">
            <!-- Gallery -->
            <section id="galleries">
                <!-- Photo Galleries -->
                <div class="gallery">
                    <!-- Filters -->
                    <header>
                        <h1>Sign up</h1>
                    </header>
                    <div class="content">
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                            <%= devise_error_messages! %>
                                <div class="field">
                                    <%= f.label :email %>
                                        <br />
                                        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                                </div>
                                <div class="field">
                                    <%= f.label :password %>
                                        <% if @minimum_password_length %>
                                            <em>(<%= @minimum_password_length %> characters minimum)</em>
                                            <% end %>
                                                <%= f.password_field :password, autocomplete: "new-password" %>
                                </div>
                                <div class="field">
                                    <%= f.label :password_confirmation %>
                                        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                                </div>
                                <div class="actions">
                                    <%= f.submit "Sign up" %>
                                </div>
                                <% end %>
                                    <%= render "devise/shared/links" %>
                    </div>
                </div><br /><br /><br />
            </section>
            <!-- Footer -->
            <footer id="footer">
                <div class="copyright">
                    &copy; The Hacking Project. Images: <a href="https://unsplash.com/">Unsplash</a>
                </div>
            </footer>
        </section>
    </div>
</body>